#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#searchbar {
    border: 1px solid grey;
    border-radius: 5px;
    max-width: 1000px;
}

#button {
  background-color: blue; 
  margin: 5px;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
}

#quotediv {
  text-align: center;
  border: 5px solid lemonchiffon;
  margin: 10px;
}